<h1>New expense</h1>
<%= form_with url: expenses_path, method: :post, local: true do %>
   <div>
    <%= label_tag "Name"%>
    <%= text_field_tag "name" %>
   <%= label_tag "Amount" %>
    <%= number_field_tag "number" %>
    <%= label_tag "categories"%>
    <%= select_tag "category", options_from_collection_for_select(@categories, 'id', 'name') %>
    <%= submit_tag "Send" %>
 </div>
<% end %>
